NEXT_PUBLIC_BACKEND_URL=http://localhost:5000/api/v1
NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1
NEXTAUTH_SECRET=f9d8a2c4e1b7a6d3f0c8b2e7a9d1f6b3
# NextAuth base URL
NEXTAUTH_URL=http://localhost:3000   # লোকাল ডেভেলপমেন্টে
# NEXTAUTH_URL=https://yourdomain.com   # প্রোডাকশনে